@*@{
        ViewBag.Title = "Home Page";
    }*@

<div id="main-container">
    <div id="title">
        ASP.NET But can you do this?
    </div>
    <div id="main-display-image">
        <img class="RuPic" src="https://pbs.twimg.com/media/DT2sCx0X4AAVbru.jpg" />
    </div>
    <div id="image-caption">
        <p id="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    </div>
    <div id="image-action-button">
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>

<div id="row">
    <div id="get-started">
        <h2>Getting started</h2>
        <p><a class="btn" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div id="libraries">
        <h2>Get more libraries</h2>
        <p><a class="btn" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div id="web-hosting">
        <h2>Web Hosting</h2>
        <p><a class="btn" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>