body {
    /*padding-top: 7vh;*/
    /*padding-bottom: 1%;*/
    height: 98%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex:1;
}

/* Set padding to keep content from hitting the edges */
@media (min-width: 360px) {
    .body-content {
        padding: 1% 2% 0% 2%;
        display: flex;
        flex-direction: column;
        height: 53vh;
    }
}

@media (min-width: 411px) {
    .body-content {
        padding: 1% 2% 0% 2%;
        display: flex;
        flex-direction: column;
        height: 93vh;
    }
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
